@font-face {
    font-family: 'font-inter';
    src: url('../fonts/Inter28pt-Black.eot');
    src: url('../fonts/Inter28pt-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter28pt-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'font-inter';
    src: url('../fonts/Inter28pt-Bold.eot');
    src: url('../fonts/Inter28pt-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter28pt-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'font-inter';
    src: url('../fonts/Inter28pt-Medium.eot');
    src: url('../fonts/Inter28pt-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter28pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'font-inter';
    src: url('../fonts/Inter28pt-Light.eot');
    src: url('../fonts/Inter28pt-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter28pt-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'font-inter';
    src: url('../fonts/Inter28pt-ExtraBold.eot');
    src: url('../fonts/Inter28pt-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter28pt-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'font-inter';
    src: url('../fonts/Inter28pt-ExtraLight.eot');
    src: url('../fonts/Inter28pt-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter28pt-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'font-inter';
    src: url('../fonts/Inter28pt-SemiBold.eot');
    src: url('../fonts/Inter28pt-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter28pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'font-inter';
    src: url('../fonts/Inter28pt-Thin.eot');
    src: url('../fonts/Inter28pt-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter28pt-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'font-inter';
    src: url('../fonts/Inter28pt-Regular.eot');
    src: url('../fonts/Inter28pt-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter28pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.uk-navbar-nav .uk-parent > a:after {
    content: url('../myicons/icon-plus.svg');
    display: inline-block;
    line-height: 0;
}

.uk-navbar {
    background-color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .14);
}

.navbar-configurator > div {
    padding-right: 1.25rem;
    line-height: 3rem;
    border-right: 1px solid #E6E6E6
}

.navbar-configurator a, .quote-link {
    color: #1A8EF9!important;
    font-weight: 700!important;
    font-size: 1rem;
}

.navbar-configurator a:hover, .quote-link:hover {
    text-decoration: unset;
    color: #046ECF!important;
}

.uk-navbar {
    border-radius: 4px;
    padding: 0 2rem;
}

.uk-navbar:has(.active-dropdown) {
    background: #FFFFFF !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.uk-navbar-container {
    margin-top: 1.25rem;
}

#offcanvas-dialogmenu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li .navbar-button {
    line-height: normal !important;
    color: #fff !important;
    height: auto !important;
    min-height: fit-content !important;
    padding: 15px 40px !important;
}

.uk-navbar-nav {
    align-items: center;
}

.mod-languages img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.mod-languages .uk-dropdown {
    padding: 1rem;
}

.mod-languages .uk-nav li>a {
    column-gap: 0.6rem
}

.mod-languages .uk-nav li.uk-active img, .mod-languages .uk-subnav .uk-active img {
    outline: 2px solid #046ecf
}

.mod-languages .uk-nav li.uk-active a {
    font-weight: 600;
    color: #046ecf
}

.dropdown-animation .el-link {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 0px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.dropdown-animation .el-link .arrow {
    content: url('/images/arrow-right.svg');
    position: absolute;
    left: -20px;
    transform: translateX(-40px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.uk-nav > li > a.uk-light {
    color: #FFF!important;
}

@media(max-width: 1530px) {
    .uk-navbar-nav {
        gap: 1.5rem!important;
    }
}

#tm-dialog .uk-offcanvas-bar .tm-height-expand {
    margin-top: auto!important;
}

.mod-languages .uk-subnav>* {
    padding-left: 0;
    margin: 0
}

/* HOMEPAGE */

.scroll-button .el-content {
    display: inline-grid;
}

.hero-button > div {
    width: fit-content;
}

.scroll-button .el-content .uk-icon {
    width: 100%;
    text-align: center;

}

.progress-circle {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -70%);
    width: 50px;
    height: 50px;
}

.progress-circle circle {
    fill: none;
    stroke-width: 1;
}

.scroll-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-circle .progress {
    stroke: rgba(255, 255, 255, 0.7);
    stroke-dasharray: 126;
    stroke-dashoffset: 126;
    transition: stroke-dashoffset 0.3s ease;
}

@keyframes scroll {

    50%,
    100% {
        transform: translateY(20px);
    }

    0%,
    25%,
    75%,
    100% {
        transform: translateY(0px);
    }
}

.uk-text-meta {
    display: flex;
}

.uk-button-default {
    border: 0px !important;
}

.uk-text-meta:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #1A8EF9;
    border-radius: 100%;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.solution-panel .el-item > .uk-grid > div:last-child {
    border-top: 1px solid #E6E6E6;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 9.75rem;
}

.el-slidenav.uk-invisible {
    opacity: 0.5;
    pointer-events: none;
    visibility: visible !important;
}

.uk-slider .uk-button:has(>.uk-icon) {
    position: relative;
}

.uk-slider .uk-button:hover > .uk-icon,
.uk-slider .uk-button > .uk-icon:hover {
    background: #046ecf;
    right: calc(0% - 58px);
    transition: 0.5s;
}

.button-wicon {
    width: fit-content !important;
}

.button-wicon:hover:has(.uk-button-default) .external-icon {
    background: #046ecf !important;
    right: calc(0% - 8px);
    transition: 0.5s;
}

.button-wicon:hover:has(.uk-button-secondary) .external-icon,
.button-wicon:hover:has(.uk-button-primary) .external-icon {
    background: #1a8ef9 !important;
    border-color: #1a8ef9;
    right: calc(0% - 8px);
    transition: 0.5s;
}

.button-wicon:has(.external-icon:hover) .uk-button-default {
    background: #046ecf;
}

.button-wicon:has(.external-icon:hover) .uk-button-secondary {
    background: #046ecf;
    border-color: #046ecf;
}

.button-wicon .external-icon {
    position: relative;
    right: 0;
    transition: 0.5s;
}

.external-icon {
    padding: 0 17px;
}


.uk-section-secondary .uk-progress {
    background-color: rgba(255, 255, 255, 0.20);
}

/* Progress bar in inverse mode */
.uk-section-secondary .uk-progress::-webkit-progress-value,
.slideshow-settori .uk-progress::-webkit-progress-value {
    background-color: #FFFFFF;
}

/* Progress bar in slideshow */
.slideshow-settori .uk-progress {
    background-color: rgba(230, 230, 230, 0.2);
}

.slideshow-settori .el-overlay {
    background: transparent;
    padding:0 4.375rem
}

.slideshow-settori, .slideshow-settori .el-item {
    border-radius: 12px;
}

/* Subnav */
.uk-subnav-pill .el-item > div:first-child, .uk-subnav-pill .el-item > a {
    border: 1px solid rgba(0, 0, 0, 0.45);
    padding: 0.375rem 0.75rem;
    line-height: normal;
}

.uk-section-secondary:not(.uk-preserve-color) .uk-subnav-pill > * > :first-child,
.uk-section-secondary:not(.uk-preserve-color) .uk-subnav-pill .el-item > a,
.uk-light .uk-subnav-pill .el-item > a,
.uk-light .uk-subnav-pill .el-item > div:first-child {
    border: 1px solid rgba(255, 255, 255, 0.45);
    background-color: transparent;
    color: #FFF;
    line-height: normal;
}

.uk-section-secondary:not(.uk-preserve-color) .uk-subnav-pill .el-item .uk-icon path, .uk-light .uk-subnav-pill .el-item .uk-icon path {
    fill: #FFF
}

.uk-subnav-pill .el-link:hover {
    text-decoration: unset;
}

.uk-light .uk-navbar-nav > li > a, .uk-light .uk-navbar-nav > li > a:hover, .uk-light .uk-navbar-nav > li > a[aria-expanded=true] {
    color: #2d2e33
}

.uk-navbar-nav > li > a[aria-expanded=true]:after {
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
}

.active-dropdown .uk-navbar-nav > li > a:not(.active-dropdown) {
    color: #8A8A8A;
}

.active-dropdown .uk-navbar-nav > li > a.active-dropdown {
    color: #1572C7
}

.el-item .uk-overlay-primary:hover {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

#campione .uk-modal-close-default svg {
    background-image: url("../myicons/icon-x.svg");
    width: 40px;
    height: 40px;
}

#campione .uk-modal-close-default svg line {
    display: none;
}

#campione .uk-modal-close-default:hover {
    opacity: 0.8;
}

.uk-input, .uk-textarea, .uk-form-custom:has(input[type="file"]) {
    margin-top: 0.75rem;
}

.advantages .el-content {
    font-size: 1.125rem;
}

.advantages .el-item {
    border-radius: 8px;
    background: #F6F6F6;
    align-items: center;
    display: flex;
    gap: 10px;
}

.advantages .el-item img {
    width: 60px;
}

.advantages .uk-margin-large-top {
    margin-top: 0.75rem !important;
}

.sticky-company .uk-container .uk-grid > div {
    padding: 0;
}

.sticky-company .uk-flex .el-item a {
    line-height: 30px;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    padding: 0.3rem 1rem;
    width: max-content;
    display: block;
    color: #000000;
    font-weight: 500;
    font-size: 23px;
}

.news-list .el-item, .sectors-label a {
    line-height: unset;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    padding: 0.2rem 1rem;
    color: #000000;
    font-weight: 500;
    gap: 30px
}

.news-list {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.news-list .el-item .el-content a:hover, .sectors-label a:hover {
    text-decoration: unset;
}

.news-list .el-item:hover, .sectors-label .el-item:hover a {
    background: rgba(20, 20, 20, 0.1);
}

.sticky-company .uk-flex .el-item a:hover, .news-list .el-item {
    text-decoration: unset;
    opacity: 0.8;
    border-color: #141414;
}

.sticky-company .uk-flex .el-item a.uk-active {
    background-color: rgba(20, 20, 20, 0.1);
    border-color: #141414;
}

.history-panels .el-item > .uk-position-relative:before {
    display: inline-block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.history-panels .el-meta {
    position: absolute;
    top: 0;
    padding: 0.875rem;
    opacity: 0.4
}

.history-panels .el-title, .history-panels .el-content {
    max-width: 340px
}

.certificates-grid .el-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-us > * {
    opacity: 0.2
}

.certificates-grid .el-item {
    border-radius: 8px;
    border: 1px solid rgba(47, 48, 53, 0.15);;
    padding: 2.065rem;
}

.uk-link:hover {
    opacity: 0.8 !important;
    text-decoration: none !important;
}

.uk-link {
    font-weight: 500;
}

.material-grid .el-item .link-block, #material-panel-slider .el-item .link-block {
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
}

#services-gallery .animate-only-button {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#sectors-gallery .index {
    opacity: 0.4;
    position: absolute;
    z-index: 2;
    padding: 2.125rem
}

#sectors-gallery .uk-overlay {
    display: block;
    height: unset !important;
}

#sectors-gallery .uk-position-bottom-left {
    height: unset;
    pointer-events: none;
}

#sectors-gallery .slide-animation {
    height: 0;
}

#sectors-gallery .el-content, #sectors-gallery .link-block {
    opacity: 0;
    position: relative;
    transform: translateY(50px);
}

#sectors-gallery > .uk-grid > div {
    overflow: hidden;
}

.product-lightbox > div > div:first-of-type:before {
    /*    content: url('../myicons/upscale.svg');
        position: absolute;
        display: block;
        bottom: 0;
        width: 1rem;
        height: 1rem;
        right: 0;
        padding: 20px;
        z-index: 2;
        pointer-events: none;*/
}

.product-lightbox > div > div:first-of-type {
    position: relative;
}

.product-lightbox > div > div:not(:first-of-type) {
    aspect-ratio: 1 / 1;
}

.quote-step {
    transform: translateY(-20%);
}

.quote-step .el-content {
    font-weight: 400
}

.facet-filters .uk-form-label {
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    padding: 0.2rem 1rem;
    color: #000000;
    font-weight: 500;
}

.uk-heading-divider {
    border-top: calc(.5px + .03em) solid #e5e5e7;
    border-bottom: 0;
}

.facet-filters .uk-form-label[checked='checked'] {
    background: black;
    color: #FFF;
}

.facet-filters .uk-form-label:hover {
    background: rgba(20, 20, 20, 0.1);
}

.facet-title {
    padding-bottom: 0;
    color: #000
}

.hit-item {
    background-color: #F6F6F6;
    border-radius: 8px;
}

.hit-item img,.material-grid .el-item img {
    mix-blend-mode: multiply;
    max-height: 217px;
}

.hit-item:hover {
    text-decoration: unset!important;
}

#search-row {
    border-radius: 12px;
    border: 1px solid #E6E6E6;
    background: #F6F6F6;
    margin-left: 0
}

#search-row .ais-SearchBox-form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 24px;
    max-width: 930px
}

#search-row .ais-SearchBox-form input {
    background: #FFF;
    border:1px solid rgba(0, 0, 0, 0.1);
    margin-top: 0;
    height: 100%;
    font-size: 1rem;
}

#material-panel-slider .el-item > .uk-panel,
.material-grid .el-item > .uk-panel,
.hit-item > .uk-card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hit-item .el-content,
#material-panel-slider .el-content,
.material-grid .el-item .el-content p {
    margin-top: auto!important;
}

#material-panel-slider .button-wicon, .material-grid .button-wicon {
    position: absolute;
    bottom: 5px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100% !important;
}

.material-grid .el-item img,
.material-grid .el-item picture,
#material-panel-slider picture,
#material-panel-slider img {
    height: 100%;
    margin-bottom: 10px;
    object-fit: scale-down;
}

.uk-pagination .uk-active > a {
    font-weight: 700;
}

.button-wicon {
    gap:10px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.product-lightbox .el-item, .product-lightbox .el-item > a {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-lightbox img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: #fff;
}

.uk-accordion-title::before {
    background-image: url(../myicons/icon-arrow-left.svg) !important;
    transform: rotate(-40deg);
    transition: transform 0.5s ease;
}

.uk-navbar-container.uk-light .uk-accordion-title::before {
    filter: brightness(0) saturate(100%) invert(98%) sepia(87%) saturate(66%) hue-rotate(240deg) brightness(113%) contrast(100%);
}

.uk-accordion-title[aria-expanded='true']::before {
    transform: rotate(40deg);
    transition: transform 0.5s ease;
}

.company-accordion .uk-accordion {
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .14);
}

.company-accordion .uk-accordion-content {
    margin-top: 10px;
}

.company-accordion .uk-accordion > .el-item {
    padding: 10px 32px
}

.company-accordion .uk-accordion .el-item {
    font-weight: 500;
    font-size: 1rem;
}

.technology-panel .el-item .uk-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technology-panel .el-item .uk-card > div {
    margin-top: auto!important;
}

.technology-panel .el-content {
    margin-bottom: 1.5rem;
}

.slideshow-settori .el-item > div:first-of-type {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 75%, rgba(0, 0, 0, 0.00) 80.54%, rgba(0, 0, 0, 0.80) 100%) !important;
}

@media(min-width: 1000px) {
    .product-lightbox .uk-width-1-1 .el-image {
        width: 100%;
        object-fit: cover !important;
        height: 100%;
    }

    .product-lightbox .el-item > a {
        width: 100%;
        pointer-events: none;
    }

    .product-lightbox .uk-width-1-1 .el-item {
        display: flex;
        align-items: stretch;
        height: 630px
    }
}


@media (min-width: 1460px) {
    .uk-navbar-left > .uk-navbar-item {
        display: none
    }
}

@media (max-width: 1600px) {
    .uk-button:not(.external-icon) {
        padding: 0 40px;
        width: 100%;
    }

    .slideshow-settori .uk-button:not(.external-icon) {
        width: unset!important;
    }

    .uk-button.external-icon {
        width: max-content;
    }
}

@media (max-width: 1480px) {
    .technology .technology-panel > .uk-grid {
        display: flex;
        height: 100%;
        align-items: stretch;
    }

    .technology .technology-panel .el-title {
        display: inline-flex;
        align-items: center;
        gap: 20%
    }

    .technology .technology-panel > .uk-grid > div:last-child {
        margin: 20px 0;
    }

    .technology .technology-panel img, .technology .technology-panel picture {
        height: 100%;
        display: block;
    }

    .technology .technology-panel img {
        object-fit: cover;
    }

    .uk-button.el-content, .uk-button-primary:not(.external-icon), .uk-button.el-link:not(.external-icon) {
        padding: 17px 50px;
        height: 100%;
        line-height: normal;
    }

    .uk-button-text {
        padding: 0 !important;
    }

    h1 {
        font-size: 4.8rem;
    }

    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 2.3rem;
    }

    .uk-button {
        font-size: 1rem;
    }
}


@media(max-width: 1100px) and (min-width: 960px) {
    .technology-panel .uk-slider-items > div {
        width: 30%;
    }
}


@media (max-width: 1100px) {

    #column-footer-2 {
        max-width: 100%
    }

    h1 {
        font-size: 4rem;
        line-height: normal;
    }

    h2 {
        font-size: 2.3rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.4rem;
        line-height: normal;
    }

    h5 {
        font-size: 1.2rem;
        line-height: normal;
    }

    #services {
        padding-bottom: 0;
    }

    .uk-section:not(.uk-section-small, .uk-section-xsmall) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .tm-header .uk-card .el-title,
    .dropdown-animation .el-link,
    #offcanvas-dialogmenu li a {
        font-size: 1.2rem!important;
    }

    #services-gallery .el-item {
        min-height: 40vh;
        height: 100%;
    }

    #services-gallery .el-item > a, #services-gallery .el-item img {
        height: 100%;
    }

    #services-gallery .el-item .el-content {
        width: 100%
    }

    .material-grid .el-item .link-block .external-icon , #material-panel-slider .el-item .external-icon
    {
        display: none;
    }
}

@media (max-width: 1000px) {
    #column-footer-2{
        display: block !important
    }

    .solution-panel .el-item > .uk-grid > div:last-child {
        border: 0;
        order: -1;
        padding-right: inherit!important;
    }

    .solution-panel > div > .uk-grid {
        margin-bottom: 1rem !important;
    }

    div:has(> progress) {
        margin-top: 1rem;
    }

    #services {
        margin-bottom: 4rem!important;
    }

    #services .el-item {
        display: flex;
    }

    #services .el-item img {
        height: 100%;
    }

    .slideshow-settori .el-overlay {
        padding: 0 35px!important;
    }

    .slideshow-settori .uk-position-cover {
        padding: 35px 0;
    }

    .hero-button {
        justify-content: center;
    }

    #search-row {
        padding: 20px;
    }

    #search-row > div {
        padding: 0
    }

}

@media(max-width: 960px) {
    .slideshow-settori progress {
        display: none;
    }

    .uk-logo {
        width: 70%;
    }

    .solution-panel div:has(> progress) {
        margin-bottom: 1rem;
        text-align: left!important;
    }

    .solution-panel progress {
        margin-left: 0!important;
    }

    #hero {
        min-height: 80vh!important;
    }

    .slideshow-settori .uk-slidenav-container {
        padding-bottom: 35px;
    }

    .slideshow-settori .uk-slidenav-container > div {
        margin-bottom: 0!important;
    }

    .product-lightbox > div > div:first-of-type,
    .product-lightbox > div > div:first-of-type img {
        min-height: 60vh;
    }

    .product-lightbox .el-item > a, .product-lightbox .el-item img {
        display: block;
        width: 100%;
    }

    .uk-offcanvas-bar {
        width: 70vw
    }

    .uk-offcanvas-bar .uk-nav-default>li>a {
        font-size: 1.3rem
    }

    .menu-back-button {
        margin-bottom: 20px;
    }

    .menu-back-button a > span {
        font-size: 25px;
        font-weight: 400;
    }

    #tm-dialog-mobile .uk-offcanvas-bar li:not(.menu-back-button) {
        font-weight: 300;
    }

    .uk-navbar-toggle {
        width: 30px;
    }

    .slideshow-settori .uk-slideshow-items {
        min-height: 50vh;
    }

}


@media(max-width: 640px) {
    .slideshow-settori .button-wicon {
        display: block;
        margin-top: 20px;
    }

    #campione .uk-modal-close-default {
        margin: unset!important;
    }

    #campione > .uk-container {
        padding: 40px!important;
    }

    .quote-step {
        transform: translateY(0)!important;
    }

    .slideshow-settori .button-wicon > div:last-of-type {
        margin-top: 20px
    }

    .news-list, .news-list .el-item {
        display: block!important;
    }

    .news-list .el-item {
        margin-bottom: 10px
    }

    .uk-modal-dialog, iframe, .uk-modal video {
        min-height: 65vh;
    }

    .uk-modal video {
        background: black;
    }

    h1, .technology .technology-panel .el-title {
        font-size: 3rem!important;
        letter-spacing: normal!important;
    }

    h2 {
        font-size: 2rem;
        letter-spacing: normal!important;
    }

    h3 {
        font-size: 1.8rem;
        letter-spacing: normal!important;
    }

    h4, h5 {
        font-size: 1.5rem!important;
        letter-spacing: normal!important;
    }
}

@media(max-width: 490px) {
    #search-row .ais-SearchBox-form {
        grid-template-columns: 1fr ;
        gap: 10px;
    }

    #search-row .ais-SearchBox-form input {
        min-height: 2.3rem;
    }
}

@media (max-width: 320px) {
    .external-icon {
        display: none;
    }
}


.catalog #tm-main > .uk-section-default.uk-section.uk-section-small > .uk-container > .tm-header-placeholder{
    height: 101px !important;
}


#facet-filter-resistenza-alla-temperatura > div:nth-child(1) {
    order: 2;
}

#facet-filter-resistenza-alla-temperatura > div:nth-child(2) {
    order: 1;
}


#facet-filter-resistenza-alla-temperatura > div:nth-child(3) {
    order: 3;
}

.text-truncate {
    max-width: 200px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0;
    vertical-align: bottom;
}

.uk-form-custom:has(#file) .uk-input[disabled='disabled'] {
    display: none;
}
